.topsectionheader {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 25px;
  }

  .maindropdowns {
    float: left;
    width: 30%;
    padding: 10px 0;
    margin: 10px 0;
  }

  .maindropdowns-item {
    float: left;
    width: 30%;
    padding: 10px 0;
    margin: 10px 0;
  }

  .no-items-slider {
    float: right;
    width: 50%;
    padding: 10px;
    margin: 10px;
  }
